.auth0-icon::before {
    content: "";
    display: inline-block;
    background-image: url('/knk_auth0_sso/static/src/img/auth0-icon.svg');
    background-size: contain;
    width: 19px;
    height: 20px;
    margin-right: 1px;
    vertical-align: middle;
}
